body{
    margin:0px;
    overflow:hidden
}
canvas{
    position:fixed !important;
    top:0px;
    left:0px;
    z-index:2;
    mix-blend-mode: multiply;
}
#default-brush{
    position:fixed;
    left:-100px;
    top:-100px;
    transform:translateX(-100%) translateY(-100%);
}

:root{
    --margin: 30px;
    --green: #219e4a;
}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

section{
    width:calc(100vw - var(--margin)*2);
    height:calc(100vh - var(--margin)*2);
    background:black;
    overflow:scroll;
    padding:var(--margin);
    top:0px;
    left:0px;
    position:fixed;
    transition: transform 300ms ease-in-out;
}

#film{
    background:#7a7094;
    transform:translateY(-100%);
    z-index:2;
}
#album{
    background:url(img/Background_Dark.png);
    transform:translateY(100%);
    z-index:1;
}

#main{
    background-color:#f0f7f0;
}
section:after{
    content:'';
    display:block;
    width:100vw;
    height:100vh;
    pointer-events: none;
    background:url(img/bg-noise.gif);
    background-repeat:repeat;
    position:fixed;
    top:0px;
    left:0px;
    opacity:0.35;
    mix-blend-mode: multiply;
    /* z-index: 2; */
}

.polaroids-container{
    overflow:scroll;
    width:90vw;
    background:yellow;
    padding:10px;
    z-index:4;
    position:fixed;
}

.polaroids{
    background:red;
    width:300vw;
    position:relative;
}

.polaroids img{
    /* position:absolute; */
    width:200px;
    display:inline-block;
}

#toggle-film, #toggle-album{
    position:fixed;
    top:0px;
    left:50%;
    z-index:3;
    transform:translateX(-50%);
    outline:none;
    border:0px;
    border-radius:0;
    background:transparent;
    cursor:pointer;
    color:var(--green);
    font-size:32px;
    letter-spacing:-0.05em;
    padding:6px;
}
#toggle-album{
    top:auto;
    bottom:0px;
}

#logo{
    position:fixed;
    top:50%;
    left:50%;
    width:50vw;
    max-width:1000px;
    min-width:500px;
    transform:translateY(-50%) translateX(-50%);
    z-index:1;
}